* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;

  #root {
    height: 100%;
    .App {
      height: 100%;
      padding: 10px;
      padding-right: 25px;
      display: flex;

      .flow {
        height: 100%;
        width: 100%;
      }
    }
  }
}

button {
  cursor: pointer;
}
