* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  #root {
    height: 100%;
    .App {
      height: 100%;

      main {
        display: flex;
        // grid-template-columns: auto 1fr;
      }

      .flow {
        height: 100%;
        width: 100%;
      }
    }
  }
}

button {
  cursor: pointer;
}
